{% extends 'layouts/public_base.html' %}

{% block description %}
  Learn django by doing, practice on real world projects
{% endblock %}

{% block keywords %}
  Learn by doing
{% endblock %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <section class="mt-4 text-center">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Django Tutorials</h1>
        <p class="lead text-muted">Welcome to the django tutorials, your one-stop shop for all your django training needs</p>
        <p>
          <a href="{% url 'main:courses' %}" class="btn btn-primary my-2">Check our list of courses</a>
          <a href="{% url 'main:about_us' %}" class="btn btn-secondary my-2">Learn more about us</a>
        </p>
      </div>
    </div>
  </section>
{% endblock %}