<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <title>Django Tutorials - {% block title %}{% endblock %}</title>
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name="keywords" content="Django Tutorials, Best Python Tutorials {% block keywords %}{% endblock %}">

  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>

<header>
  {% block menu %}
    {% include "includes/_menu.html" %}
  {% endblock %}
</header>

<main class="py-5">
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="mb-1">&copy; Django Tutorials, 2022</p>
  </div>
</footer>


<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>


</body>
</html>
